body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    background-color: black;
    color: white;
    overflow-x: hidden;
}


a {
    color: white;
}


.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(59, 59, 59, 0.562);
}


.logo-items {
    padding: 0 30px;
    display: flex;
    align-items: center;
}


.logo-items h1 {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.logo-img {
    width: 100px;
    height: 50px;
}


.header-items ul {
    padding: 0 30px;
    display: flex;
}


.header-items li {
    margin-left: 50px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 3px 7px;
    transition:  0.3s;
    box-shadow: 0 0 15px rgb(75, 73, 73);
}


.header-items li:hover {
    background-color: rgb(147, 147, 151);
    color: rgb(255, 255, 255);
}


.header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.header-vid {
    position: relative;
}


.include {
    position: absolute;
    top: 15px;
    right: 2%;
    width: 45px;
    height: 45px;
    background-color: rgba(190, 190, 190, 0.384);
    padding: 5px 5px;

    border: 1px solid lightgrey;
    border-radius: 25px;

    cursor: pointer;
}


.header-desc {
    position: relative;
}


.header-desc p {
    position: absolute;
    top: -20px;
    left: 30px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    transition: 1.5s;
}




.header-author {
    position: relative;
}


.header-author p{
    position: absolute;
    right: 30px;
    top: 720px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    transition: 1.5s;
}


.cards {
    position: relative;
    display: flex;
    justify-content: center;
}


.header-vid {
    margin: 35px 0;
    margin-left: 5px;
}


.header-vid video {
    border: 1px solid black;
    border-radius: 25px;
}


.cards .card h1 {
    display: flex;
    justify-content: center;
}


.word .text {
    text-align: center;
    margin: 50px 0;
}


.word .text p {
    font-size: 60px;
    font-weight: 800;
}


.gradient {
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}


.author {
    margin: 40px 0;
}


.about .author p{
    font-size: 50px;
    margin-bottom: 60px;
    font-weight: 800;
    text-align: center;
}


.about .author p img {
    border-radius: 25px;
}


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.author {
  opacity: 0;
  transform: translateY(50px); 
  animation: slideInCenter 1.2s ease forwards;
  animation-delay: 0.3s; 
}

@keyframes slideInCenter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.author img {
  opacity: 0;
  transform: translateY(50px);
  animation: slideInCenter 1.2s ease forwards;
  animation-delay: 1.5s;
  display: block;
  max-width: 100%;
  margin: 20px auto 0;
}